hits.csv
hits.csv.gz
*.zst
*.zst_L10
*.zst_L20
*.xz

hits_1M.csv
hits_10M.csv

hits.cursed
hits_1M.cursed
hits_10M.cursed

tmp.py


build/*
build_asan/*
build_tsan/*
build_msan/*


compile_commands.json
.vscode/*

_tmp/*